.native {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 75px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    color:rgba(97, 94, 94, 0.3)
}

section {
    display: flex;
    padding: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

article {
    padding: 30px;
    margin: 10px;
    background: rgba(97, 94, 94, 0.3);
}

h2 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #002280;
}