.native {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    align-self: center;
}

section {
    display: flex;
    align-self: center;
  }

.pic {
    width:250px;
    height: auto;
}

article {
    padding: 10px;
    margin: 10px;
    background: aqua;
}