.native {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    align-self: center;
}

section {
    display: flex;
    align-self: center;
  }

.pic {
    width:200px;
    height: auto;
}